li{
    margin: 1rem 0;
}

.inputs{
    margin: 1rem 0;
}

#parametros{
    margin-top: 2rem;
}

.erro{
    color: red;
}

a{
    display: block; 
    margin-top: 10px;
}

.botoes{
    display: flex;
    flex-direction: row;
}